<div class="row">
  <div class="col-12">

    <div class="success-logo"></div>
    <div class="text-center">
      <h1>Thank you</h1>
    </div>
    <p>
      The checkout proceeded successfully. <br/>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae recusandae eveniet. Perspiciatis tempora
      eligendi ab? Nam saepe maiores placeat consectetur eaque blanditiis, ut illum quasi laboriosam voluptatem
      repudiandae! Id.
    </p>
    <hr />
    <a class="btn btn-outline-dark" [routerLink]="['/home']">
      <i class="fas fa-arrow-left"></i>
      Return to product list.
    </a>
  </div>
</div>
