<p>
  <i class="far fa-list-alt"></i> &nbsp; Product list
</p>
<div class="test-header">
  Click on a product to see its details. 
  <span id="selectedRows"></span>
  &nbsp;&nbsp;&nbsp;&nbsp; Page Size:
  <select (change)="onPageSizeChanged()" id="page-size">
      <option value="10" selected="">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
      <option value="30">30</option>
  </select>
</div>
<div class="centrar-grid">
  <ag-grid-angular #agGrid style="width: 50%; height: 400px;" id="myGrid" [rowData]="rowData" 
    class="ag-theme-balham"
    [enableSorting]="true" [enableFilter]="true" [rowSelection]="rowSelection" 
    [pagination]="true" [rowData]="rowData"
    [columnDefs]="columnDefs" (selectionChanged)="onSelectionChanged($event)"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>
